.credentials{
    border: 3px solid black;
    padding: 50px;
    width: 200px;
    margin-left: 500px;
    margin-top: 100px;
    background-color: aliceblue;
}
.password{
    margin-top: 2px;
}
.submit{
    margin-top: 4px;
    margin-left: 50px;
}
body{
    background-color: aquamarine;
}
